$listSizes: (
    0: 0px,/* 0px */
    px: 1px,/* 1px */
    4: 1rem, /* 16px */
    5: 1.25rem, /* 20px */
    6: 1.5rem, /* 24px */
    7: 1.75rem, /* 28px */
    8: 2rem, /* 32px */
    9: 2.25rem, /* 36px */
    10: 2.5rem, /* 40px */
    11: 2.75rem, /* 44px */
    12: 3rem, /* 48px */
    14: 3.5rem, /* 56px */
    16: 4rem, /* 64px */
    20: 5rem, /* 80px */
    24: 6rem, /* 96px */
    28: 7rem, /* 112px */
    32: 8rem, /* 128px */
    36: 9rem, /* 144px */
    40: 10rem, /* 160px */
    44: 11rem, /* 176px */
    48: 12rem, /* 192px */
    52: 13rem, /* 208px */
    56: 14rem, /* 224px */
    60: 15rem, /* 240px */
    64: 16rem, /* 256px */
    72: 18rem, /* 288px */
    80: 20rem, /* 320px */
    96: 24rem, /* 384px */
    w-auto: auto,
    1p2: 50%,
    1p3: 33.333333%,
    2p3: 66.666667%,
    1p4: 25%,
    2p4: 50%,
    3p4: 75%,
    1p5: 20%,
    2p5: 40%,
    3p5: 60%,
    4p5: 80%,
    1p6: 16.666667%,
    2p6: 33.333333%,
    3p6: 50%,
    4p6: 66.666667%,
    5p6: 83.333333%,
    1p12: 8.333333%,
    2p12: 16.666667%,
    3p12: 25%,
    4p12: 33.333333%,
    5p12: 41.666667%,
    6p12: 50%,
    7p12: 58.333333%,
    8p12: 66.666667%,
    9p12: 75%,
    10p12: 83.333333%,
    11p12: 91.666667%,
    full: 100%,
    screen: 100vw,
    svw: 100svw,
    lvw: 100lvw,
    dvw: 100dvw,
    min: min-content,
    max: max-content,
    fit: fit-content,
)
