@import "./variables.scss";

.section-header{
    width: 100%;
    height: 350px;
    position: relative;
    background-color: $azul-mar;
    background-image: url(http://localhost/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-header::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.section-header-navbar{
    width: 100%;
    z-index: 3;
    position: relative;
}
.section-header-navbar-fl{
    width: 30%;
    padding: 20px 0px 0px 20px;
}
.section-header-navbar-fl > img{
    width: 75px;
    height: 75px;
}
.section-header-navbar-fl > span{
    margin-left: 5px;
}
.section-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-change-password{
    width: 350px;
    height: 400px;
    background-color: white;
    position: absolute;
    border: 1.9px solid #000000;
    border-radius: 10px;
    z-index: 3;
}
.info-change-password{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-change-password > img{
    width: 100px;
    height: 100px;
    padding: 3px;
    margin-bottom: 10px;
    color: $azul-mar;
}
.info-change-password > p{
    font-size: 14px;
    margin-top: 10px;
}
.get-info-change-password{
    width: 90%;
    margin: auto;
    margin-top: 4px;
}
.get-info-change-password > button{
    width: 100%;
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    background-color: #c5a512;
    color: white;
}

@media (max-width: 370px) {
    .form-change-password{
        width: 90%;
    }
    .section-header-navbar{
        display: none;
    }
}
