// Variables
@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sombraCaja {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sombraBasica {
    box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.43);
}

.sombraDegradado {
    box-shadow: rgba(0, 0, 0, 0.15) 0px -50px 36px -28px inset;
}

.boxInicio {
    color: $gris-oscuro;
    max-width: 350px;
}

.titulo {
    color: $gris-oscuro;
    font-weight: bold;
}

.form {
    border: 1px solid $azul-mar-2;
}

.navbar {
    background-color: $azul-mar;
}

/* Links de la barra de navegación */
.nav-link {
    font-weight: bold;
}

.nav-link:link,
.nav-link:visited {
    color: rgba(255, 255, 255, 0.7);
}

.nav-link:hover,
.nav-link:active {
    color: white;
}

.nav-item,
.dropdown-item {
    text-align: center;
    align-items: center;
}

/* Submenús de la barra de navegación */
.dropdown-menu {
    background-color: $azul;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -50px 36px -28px inset;
}

.dropdown-item {
    color: white;
}

/* La opción activa dentro de la barra de navegación */
.navbar .nav-link.active {
    color: $activo;
}

/* La subopción actual de la lista de una opción */
.dropdown-item.active {
    color: $activo;
    background-color: #FFFFFF00;
    font-weight: bold;
}

.dropdown-item:active,
.btn.dropdown-item:active {
    background-color: white;
    color: black;
}

.table {
    text-align: center;
    vertical-align: middle;
}

//Para tablas de dos columnas; cada una ocupará mitad de ancho.
.tablaEquitativa>tr>td {
    width:50%;
}

/* Botones */
.btnNuevo {
    color: white;
    background-color: $azul-3;
    border-color: $azul-3;
}

.btnNuevo:active,
.btnNuevo.active,
.open .dropdown-toggle.btnNuevo {
    background-image: none;
}

.btnNuevo:hover,
.btnNuevo:focus,
.btnNuevo:active,
.btnNuevo.active,
.btn.btnNuevo:active,
.open .dropdown-toggle.btnNuevo {
    color: white;
    background-color: #3AB1B5;
    border-color: $azul-3;
}

.btnNuevo.disabled,
.btnNuevo[disabled],
fieldset[disabled] .btnNuevo,
.btnNuevo.disabled:hover,
.btnNuevo[disabled]:hover,
fieldset[disabled] .btnNuevo:hover,
.btnNuevo.disabled:focus,
.btnNuevo[disabled]:focus,
fieldset[disabled] .btnNuevo:focus,
.btnNuevo.disabled:active,
.btnNuevo[disabled]:active,
fieldset[disabled] .btnNuevo:active,
.btnNuevo.disabled.active,
.btnNuevo[disabled].active,
fieldset[disabled] .btnNuevo.active {
    background-color: $azul-3;
    border-color: $azul-3;
    color: white;
}

.btnInicio {
    color: white;
    background-color: $azul;
    border-color: $azul;
}

.btnInicio:hover,
.btnInicio:focus,
.btnInicio:active,
.btnInicio.active,
.btn.btnInicio:active,
.open .dropdown-toggle.btnInicio {
    color: white;
    background-color: #278CBA;
    border-color: $azul;
}

.btnInicio:active,
.btnInicio.active,
.open .dropdown-toggle.btnInicio {
    background-image: none;
}

.btnInicio.disabled,
.btnInicio[disabled],
fieldset[disabled] .btnInicio,
.btnInicio.disabled:hover,
.btnInicio[disabled]:hover,
fieldset[disabled] .btnInicio:hover,
.btnInicio.disabled:focus,
.btnInicio[disabled]:focus,
fieldset[disabled] .btnInicio:focus,
.btnInicio.disabled:active,
.btnInicio[disabled]:active,
fieldset[disabled] .btnInicio:active,
.btnInicio.disabled.active,
.btnInicio[disabled].active,
fieldset[disabled] .btnInicio.active {
    background-color: $azul;
    border-color: $azul;
}

.btnReasignar {
    color: white;
    background-color: $aqua;
    border-color: $aqua;
}

.btnReasignar:hover,
.btnReasignar:focus,
.btnReasignar:active,
.btnReasignar.active,
.btn.btnReasignar:active,
.open .dropdown-toggle.btnReasignar {
    color: white;
    background-color: $aqua-2;
    border-color: $aqua;
}

.btnReasignar:active,
.btnReasignar.active,
.open .dropdown-toggle.btnReasignar {
    background-image: none;
}

.btnReasignar.disabled,
.btnReasignar[disabled],
fieldset[disabled] .btnReasignar,
.btnReasignar.disabled:hover,
.btnReasignar[disabled]:hover,
fieldset[disabled] .btnReasignar:hover,
.btnReasignar.disabled:focus,
.btnReasignar[disabled]:focus,
fieldset[disabled] .btnReasignar:focus,
.btnReasignar.disabled:active,
.btnReasignar[disabled]:active,
fieldset[disabled] .btnReasignar:active,
.btnReasignar.disabled.active,
.btnReasignar[disabled].active,
fieldset[disabled] .btnReasignar.active {
    background-color: $aqua;
    border-color: $aqua;
}