$gris-oscuro: #383838;
$azul-mar: #184E77;
$azul-mar-2: #1E6091;
$azul: #1A759F;
$azul-2: #168AAD;
$azul-3: #34A0A4;
$aqua: #52B69A;
$aqua-2: #76C893;
$verde: #99D98C;
$verde-2: #B5E48C;
$verde-3: #D9ED92;
$verde-claro: #e8f3c9;
$azul-tecnm: #1a325b;