@import "../variables";

.section-left-container{
    background-image: url("http://localhost/images/register.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.section-left-container::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,0.45) 44%, rgba(255,255,255,1) 98%);
}
.section-right-container{
    height: 100vh;
    &>div{
        height: 100%;
    }
}
input{
    outline: none;
}
.login-container{
    width: 75%;
    border: 1.8px solid $azul-tecnm;
    height: 550px;
    box-shadow: -3px 1px 30px 1px rgba(26,50,91,0.75);
    &>.login-header{
        width: 100%;
        height: 30%;
        background-color: $azul-tecnm;
        &>img{
            width: 250px;
            height: 100px;
        }
    }
    &>.login-body{
        width: 100%;
        height: 70%;
        padding: 10px;
    }
}
.form-register{
    height: 100%;
    justify-content: center;
}

.btn-login{
    color: white;
    border: none;
    font-weight: bold;
    background-color: $azul-tecnm;
}

@media (max-width: 576px) {
    .section-left-container{
        height: 30%;
    }
    .section-right-container{
        height: auto;
        padding: 10px;
    }
    .login-container{
        width: 90%;
        height: auto;
        &>.login-header{
            padding: 10px;
            &>img{
                width: 200px;
                height: 90%;
            }
        }
    }
}
