@import "../variables";

.section-left-container{
    background-image: url("http://localhost/images/incidence-image.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.section-left-container::after{
    content: "*";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 70%, rgba(255,255,255,1) 98%);
}
.section-right-container{
    height: 100vh;
    &>div{
        height: 100%;
    }
}
input{
    outline: none;
}
textarea{
    outline: none;
    resize: none;
}
.login-container{
    width: 75%;
    border: 1.8px solid #3f37c9;
    height: 550px;
    &>.login-header{
        width: 100%;
        height: 32%;
        background-color: #3f37c9;
        padding: 5px;
    }
    &>.login-body{
        width: 100%;
        height: 70%;
        padding: 10px;
    }
}

.profile-image-container{
    padding: 2px;
    &>img{
        width: 87px;
        height: 90px;
    }
}

.btn-find-student{
    background: #fbf304;
}

.btn-create-incidence{
    color: white;
    border: none;
    font-weight: bold;
    padding: 5px;
    background-color: #3f37c9;
}

@media (max-width: 576px) {
    .section-left-container{
        height: 30%;
    }
    .section-right-container{
        height: 70%;
        padding: 10px;
    }
    .login-container{
        width: 80%;
        height: auto;
    }
}
